version: '3'
services:
  n8n:
    image: docker.n8n.io/n8nio/n8n:1.109.0
    ports:
      - 5678:5678

    restart: always
    env_file:
      - .env
    volumes:
      - n8n_data:/home/node/.n8n
      - ./mount_files:/mount_files


  postgres:
    image: postgres:12
    restart: always
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  n8n_data:
  postgres_data:
